.dashboard-container {
    height: auto;
    margin: 0 auto;
    max-width: 70%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.dashboard-container  main{  background: #f3f3f3;   padding: 3.5rem;     min-height: 500px;} 

.dashboard-container aside.bg-gray-200{    background-color: rgb(48 56 59);
    color: #fff;     padding: 2rem;}
.dashboard-container ul.space-y-2  li {
    padding: 0.5rem;
    border-bottom: solid 1px #41484a;
    border-radius: 0;
}

.dashboard-container .accCoursesContainer .accCourses{background: #fff;}
.dashboard-container .accCoursesContainer .accCourses img{margin: 0 0 20px;}
.dashboard-container .accCoursesContainer .accCourses h2{margin: 0;}


.dashboard-container ul.space-y-2 .text-red-600 {
    --tw-text-opacity: 1;
    color: #fff;
    background: #6c6565;
    max-width: max-content;
    border-radius: 35px;
    padding: 5px 25px;
    margin-top: 30px;
}
.dashboard-container ul.space-y-2 .text-red-600:hover{    background: rgb(62 198 237);}

.dashboard-container .py-2{color: #fff;
    background: rgb(68 200 238);
    max-width: max-content;
    border-radius: 35px;
    padding: 5px 25px;
    margin-top: 30px;
}

.dashboard-container .py-2:hover{    background: rgb(0, 78, 38);}

.dashboard-container ul.space-y-2 li:hover {
     background-color: rgb(62 198 237);
}

.dashboard-container ul.space-y-2 li.font-bold {
    background-color: rgb(62 198 237);
}


@media screen and (max-width: 800px) {

.dashboard-container {
   max-width: 100%;
    margin-top: 60px;
    display: grid;
}
.dashboard-container aside.bg-gray-200 {
    background-color: rgb(48, 56, 59);
    color: #fff;
    padding: 2rem;
    width: 100%;
}

}

.dashboard-container button.sendBtn {
    top: 48%;
    right: 5px;
}

button.changeBtn {
    right: 5px;
    top: 60%;
}

.OtherDetails{
    gap: 1rem 10rem !important;
}
.OtherDetails .titles{
    font-weight: 600;
}