article header.sticky {
  background: #0056d2;
  top: 68px;
  z-index: 9999;
  padding: 0;
}
article header.sticky nav ul li a {
  color: #ffffff;
}

article header .colgelogo {
  background: #ffffff;
  padding-inline: 10px;
}
.cdpagebansec {
  height: auto;
}
.cdbaninrowbox {
  height: 65vh;
}
.cdbanimgbox::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #0056d2;
  opacity: 0.85;
  z-index: 9;
}
.cdbanContBox {
  z-index: 99;
}
.cdbaninCont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.cdbaninCont img {
  margin-bottom: 0;
}
.cdbanContBox h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2.1vw;
  line-height: 1;
  margin-bottom: 10px;
}
.cdbanContBox h4 {
  font-size: 1.2vw;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.cdbanContBox .collogos {
  background: #ffffff;
  padding-inline: 2vw;
  padding-block: 10px;
  margin-block: 10px;
  border-radius: 60px;
}
.cdbanContBox h5 {
  font-size: 1vw;
  line-height: 1;
  margin-bottom: 10px;
  letter-spacing: 1px;
  display: none;
}
.cdbanContBox p {
  padding-inline: 10vw;
  color: #ffffff;
  letter-spacing: 0;
}
.courmetadatabox {
  z-index: 999;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 0;
}
.cmetsitemsbox {
  background: #fff;
  padding: 20px 2vw;
  border-radius: 60px;
  transform: translateY(-50%);
  border: 1px solid #cccccc;
}
.cmitemsimg {
  flex: 0 0 60px;
  border-radius: 50%;
  padding: 2px;
  border: 1px solid rgb(0 0 0 / 20%);
}
.cmitemsimg img {
  width: 100%;
  height: 100%;
}
.cmetsitems {
  margin-inline: 15px;
}
.cmitemscont {
  padding-left: 10px;
}
.cmitemscont h5 {
  color: #000000;
  line-height: 1;
  font-size: 1vw;
  margin-bottom: 5px;
  white-space: nowrap;
}
.cmitemscont p {
  color: #333333;
  line-height: 1;
  font-size: 14px;
}

p {
  color: #333333;
}
ul li {
  color: #333333;
}
.cdintro-section {
  padding-bottom: 0;
}
.cdintro-section .container {
  position: relative;
}
.cdintro-section > .container::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #014ebe;
  opacity: 0.52;
}
.cdintro-section h3 {
  font-family: 'Times New Roman', Times, serif;
  color: #0056d2;
  font-size: 2vw;
  line-height: 1;
  margin-bottom: 20px;
}
.cdintro-section ul.list-bullet {
  list-style: none;
  padding: 0;
}
.cdintro-section ul.list-bullet li {
  margin: 0;
  padding: 0;
}
.cdenquire-now {
  padding-bottom: 10vh;
  padding-top: 5vh;
}
.cdenquire-now .grid .col-span-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.cdenquire-now a {
  display: block;
  margin-inline: auto;
  text-decoration: none;
  border: 1px solid #cccccc;
  background: #ffffff;
  border-radius: 40px;
  font-size: 15px;
  padding: 0 30px;
  height: auto;
  line-height: 45px;
  text-transform: uppercase;
  color: #0056d2;
  font-weight: 600;
  letter-spacing: 1px;
}
.cdenquire-now a:hover {
  background: #0056d2;
  border-color: #0056d2;
  color: #ffffff;
}

.cdwhychoosesec h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
  line-height: 1;
  margin-bottom: 20px;
}
.cdwhychoosesec h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 2vw;
  line-height: 1;
  margin-bottom: 10px;
}
.cdwhychoosesec p {
  color: #ffffff;
  font-size: 1vw;
}
.cdwhychoosesec .container {
  max-width: 100%;
  height: auto !important;
  padding: 0;
  background-attachment: fixed;
}
.cdwhychoosesec .grid {
  display: block;
  width: 55%;
  margin-left: auto;
  padding: 10vw;
  background: rgb(0 88 210 / 89%);
}
.cdwhychoose-veritas-left {
  display: none;
}
.cdwhychoose-veritas-right {
}
.cdhowdosec {
  background: #f0f6ff;
  padding-block: 8vh;
}

.cdhowdosec .grid {
  display: flex;
  align-items: center;
  row-gap: 0;
  column-gap: 0;
}
.cdhowdosec .grid .col-span-4 {
  width: 50%;
}
.cdhowdosec .grid .col-span-4 .container {
  width: 100%;
  margin-inline: 0;
  padding-inline: 15px;
}
.how-do-right .container {
  max-width: 100%;
}
.how-do-right ul {
  padding: 3vw;
  border: 1px solid #cccccc;
  border-radius: 2vw;
}
.how-do-right ul li {
  padding: 0vw;
  margin: 0 0 5px;
}
.cdhowdosec .grid h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
  line-height: 1;
  margin-bottom: 20px;
  color: #0056d2;
}
.cdhowdosec .grid p {
  margin-bottom: 0;
  color: #333333;
}
.cdhowdosec .grid p strong {
  color: #333333;
}
.yearly-courses-container {
  position: relative;
  padding-block: 10vh 0;
}

.CourseModuleTitle {
  position: relative;
}
.CourseModuleTitle h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  margin-bottom: 20px;
  color: #0056d2;
  text-align: center;
}

.year-group h3 {
  color: #0056d2;
  text-decoration: underline;
}

.yearModulebox {
  background: #0056d2;
  position: relative;
}
.yearModulebox:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  background: #0044a7;
}
.yearModulebox .year-group {
  padding-block: 40px;
}
.yearModulebox .year-group:last-child {
  padding-bottom: 10vh;
}
.yearintitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}
.yearintitle::before {
  content: '';
  position: relative;
  display: block;
  width: 40%;
  height: 1px;
  border-bottom: 1px dashed #ffffff;
}
.yearintitle::after {
  content: '';
  position: relative;
  display: block;
  width: 40%;
  height: 1px;
  border-bottom: 1px dashed #ffffff;
}
.yearintitle h4 {
  margin: 0 2vw;
}

.year-group .left-column {
  width: 50%;
  padding-inline: 20px;
}
.year-group .right-column {
  width: 50%;
  padding-inline: 20px;
}
.year-group .left-column .container {
  background: #ffffff;
  padding: 3vw;
  border-radius: 1vw;
  position: relative;
  height: 100%;
  max-width: 70%;
  margin-left: auto;
  margin-right: 0;
}
.year-group .right-column .container {
  background: #ffffff;
  padding: 3vw;
  border-radius: 1vw;
  position: relative;
  height: 100%;
  max-width: 70%;
  margin-right: auto;
  margin-left: 0;
}

.dyapSec {
  padding-bottom: 0;
}
.dyapSec::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 62.5%;
  left: 0;
  top: 0;
  background: #f0f6ff;
}
.dyapSlider button.slick-arrow {
  z-index: 99;
  background: #0056d2;
  width: 40px;
  height: auto;
  aspect-ratio: 1;
  border-radius: 50%;
}
.dyapSlider button.slick-arrow::before {
  content: '';
  width: 100%;
  display: block;
  height: 100%;
  opacity: 1;
}
.dyapSlider button.slick-prev {
  left: -10px;
  transform: translateX(-100%);
}
.dyapSlider button.slick-next {
  right: -10px;
  transform: translateX(100%);
}
.dyapSlider button.slick-prev::before {
  background: url(/media/home/arrow-prev-icon.svg) no-repeat center center;
  background-size: 50%;
}
.dyapSlider button.slick-next::before {
  background: url(/media/home/arrow-next-icon.svg) no-repeat center center;
  background-size: 50%;
}
.itemtitle h4 {
  background: rgb(0 86 210 / 78%);
  padding-inline: 3vw;
  padding-block: 5px;
  -webkit-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
  border-bottom-right-radius: 30px;
  font-weight: 500;
  letter-spacing: 0.5px;
  backdrop-filter: blur(2px);
}
.dyapitemcont {
  padding: 20px;
  padding-bottom: 0;
}
.dyapitemcont p {
  font-size: 18px;
  color: #333333;
  font-weight: 500;
}
.cdtutionfeessec {
  padding-block: 10vh;
}
.cdtutionfeessec .grid {
  display: flex;
  flex-wrap: wrap;
  row-gap: 0;
  column-gap: 0;
}
.cdtutionfeessec .grid .col-span-4:first-child {
  width: 100%;
  margin-bottom: 50px;
}
.cdtutionfeessec .grid .tution-fees-left {
  width: 50%;
  height: 200px;
}
.cdtutionfeessec .grid .tution-fees-right {
  width: 50%;
}
.cdtutionfeessec h2 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 3vw;
  line-height: 1;
  margin: 0;
  margin-bottom: 20px;
  color: #0056d2;
  text-align: center;
}
.cdtutionfeessec h2 a {
  color: #0056d2;
  text-decoration: none;
}
.cdtutionfeessec picture {
  margin: 0;
  position: relative;
  height: 100%;
}

.cdtutionfeessec picture img {
  margin: 0;
  position: relative;
  height: 100%;
  object-fit: cover;
}

.cdtutionfeessec .grid .tution-fees-left .container {
  position: relative;
  height: 100%;
}

.cdtutionfeessec .grid .tution-fees-left .container .col-start-1 {
  position: relative;
  height: 100%;
}
.cdtutionfeessec .grid .tution-fees-left .container .col-start-1 > div {
  position: relative;
  height: 100%;
}
.cdtutionfeessec .grid .tution-fees-right .container {
  border: 1px solid #cccccc;
  border-radius: 20px;
  padding: 20px;
  max-width: 100%;
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cdtutionfeessec .grid .tution-fees-right h5 {
  color: #0056d2;
  font-size: 18px;
  line-height: 1;
  margin: 0;
}
.cdtutionfeessec .grid .tution-fees-right h4 {
  color: #000000;
  font-size: 20px;
  line-height: 1;
  font-weight: 400;
  margin: 20px 0;
}
.cdtutionfeessec .grid .tution-fees-right h3 {
  color: #000000;
  font-size: 26px;
  line-height: 1;
  margin: 0;
}
.cdtutionfeessec .grid .tution-fees-right p a {
  background: #0056d2;
  padding: 0 20px;
  line-height: 40px;
  border: 1px solid #0056d2;
  color: #ffffff;
  border-radius: 30px;
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  bottom: 50%;
  transform: translateY(50%);
}
.cdtutionfeessec .grid .tution-fees-right p a:hover {
  background: #ffffff;
  color: #0056d2;
}

.coursecontainer > .prose > p {
  display: none;
}

.modalpupcenqry {
  z-index: 99999;
}
.modalpupcenqry form h2 {
  font-family: Times New Roman;
  color: #0056d2;
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 20px;
}
.modalpupcenqry .Modalclosebtn {
  width: 30px;
  height: 30px;
  background: #333;
  color: #ffffff;
  top: 0;
  right: 0;
  border-bottom-left-radius: 10px;
}
.modalpupcenqry form button[type='submit'] {
  background: #0056d2;
}
.modalpupcenqry form button[type='submit']:hover {
  background: #003581;
}

@media screen and (max-width: 1520px) {
  article header.sticky {
    top: 56px;
  }
  .cdtutionfeessec .grid .tution-fees-right p a {
    font-size: 13px;
    line-height: 35px;
  }
  .cdtutionfeessec .grid .col-span-4:first-child {
    margin-bottom: 30px;
  }
  .cdtutionfeessec .grid .tution-fees-left {
    height: 32vh;
  }
  .cdtutionfeessec .grid .tution-fees-right .container {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .year-group .left-column .container,
  .year-group .right-column .container {
    max-width: 92%;
  }
  .year-group h3 {
    font-size: 17px;
    margin-block: 30px 10px;
  }
  .year-group p {
    margin-bottom: 0;
    line-height: 1.5;
  }
}
@media screen and (max-width: 1200px) {
  article header.sticky {
    top: 56px;
  }
  .dyapitemcont p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .cmitemsimg {
    flex: 0 0 40px;
  }
  .cmetsitems {
    margin-inline: 8px;
  }
  .cmetsitemsbox {
    padding: 15px 15px;
  }
  article header.sticky {
    top: 46px;
  }
  article header.sticky > .container > .flex {
    padding-block: 8px;
  }
  .dyapSlider {
    width: 80%;
    margin-inline: auto;
  }
}

@media screen and (max-width: 800px) {
  .cdpagebansec {
    height: auto;
  }
  .cdbaninrowbox {
    height: 350px;
  }
  .courmetadatabox {
    position: relative;
    height: auto;
  }
  .cmetsitemsbox {
    border-radius: 0;
    transform: translateY(0%);
    border: 0px solid #cccccc;
    flex-wrap: wrap;
  }
  .cmetsitemsbox .cmetsitems {
    width: 33.333%;
    padding: 8px 0;
  }
  .cdwhychoosesec .grid {
    padding: 30px;
  }
  .yearly-courses-container {
    padding-block: 50px 0;
  }
  .cdtutionfeessec .grid .tution-fees-right p {
    display: flex;
    margin-top: 15px;
  }
  .cdtutionfeessec .grid .tution-fees-left {
    height: auto;
  }
  .cdtutionfeessec .grid .tution-fees-right p a {
    position: relative;
    right: 0;
    bottom: 0;
    transform: translateY(0%);
    display: block;
  }
  .cdtutionfeessec .grid .tution-fees-right h3 {
    font-size: 20px;
  }
}
